NEXT_STRAPI_URL=https://wordapi.fly.dev
NEXT_STRAPI_TOKEN=
NEXT_STRAPI_NAVIGATION=
NEXT_TIMEOUT=10
NEXT_PUBLIC_WALINE_URL=
NEXT_PUBLIC_IMAGE_URL=https://wordapi.fly.dev
NEXT_PUBLIC_GA_MEASUREMENT_ID=
